.flight-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 81px;
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
    padding-bottom: 17px;
    box-sizing: border-box;
}

.flight-card:not(:last-child) {
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}

.info__route {
    display: flex;

}

.info__city {
    margin: 0;
    font-weight: 300;
    font-size: 17px;
}

.info__arrow-icon {
    object-fit: contain;
    margin: 0 12px 0 12px;
}

.info__date-time {
    display: flex;
}

.info__when {
    font-weight: 400;
    font-size: 14px;
    color: #878787;
    margin: 0;
}

.info__line-icon {
    object-fit: contain;
    margin: 0 10px 0 10px;
}

.info__airline {
    font-weight: 400;
    font-size: 14px;
    color: #878787;
    margin: 0;
}

.flight-card__container {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.flight-card__like-btn {
    background-image: url(../../../../../images/icons/like-default-icon.png);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    grid-column: 2;
    width: 21px;
    height: 18px;
    border: none;
    padding: 0;
    cursor: pointer;
    justify-self: flex-end;
}

.flight-card__like-btn_active {
    background-image: url(../../../../../images/icons/liked-icon.png);
    background-size: initial;
}

.price {
    font-weight: 300;
    font-size: 11px;
    color: #878787;
    margin: 0;
    align-self: flex-end;
    grid-column: 2;
}

.price__accent {
    font-weight: 400;
    font-size: 17px;
    color: #424242;
}