.breadcrumbs {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.breadcrumbs__link {
    font-size: 32px;
    text-decoration: none;
    color: #424242;
}

.breadcrumbs__separator {
    margin: 0 20px 0 20px;
}